// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2020 Laurent Pinchart <laurent.pinchart@ideasonboard.com>
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/clock/mt8183-clk.h>
#include <dt-bindings/gpio/gpio.h>
#include "mt8183-pinfunc.h"

&reserved_memory {
	ramoops@0x4FF00000 {
		compatible = "ramoops";
		reg = <0x0 0x4FF00000 0x0 0x00100000>;
		record-size = <0x8000>;
		console-size = <0x8000>;
		ftrace-size = <0x0>;
		pmsg-size = <0x8000>;
	};
};

&pio {
	cam1_pins_default: cam1_pins_default {
		pins_clk_rst {
			pinmux = <PINMUX_GPIO40__FUNC_GPIO40>,
				 <PINMUX_GPIO100__FUNC_CMMCLK1>,
				 <PINMUX_GPIO102__FUNC_GPIO102>;
		};
	};

	cam2_pins_default: cam2_pins_default {
		pins_clk_rst {
			pinmux = <PINMUX_GPIO39__FUNC_GPIO39>,
				 <PINMUX_GPIO108__FUNC_CMMCLK2>,
				 <PINMUX_GPIO109__FUNC_GPIO109>;
		};
	};
};

&mt6358_vldo28_reg {
	regulator-min-microvolt = <2800000>;
	regulator-max-microvolt = <2800000>;
};

&mt6358_vcama1_reg {
	regulator-min-microvolt = <2800000>;
	regulator-max-microvolt = <2800000>;
};

&mt6358_vcama2_reg {
	regulator-min-microvolt = <2800000>;
	regulator-max-microvolt = <2800000>;
};

&mt6358_vcamd_reg {
	regulator-min-microvolt = <1200000>;
	regulator-max-microvolt = <1200000>;
};

&mt6358_vcamio_reg {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
};

&i2c2 {
	clock-frequency = <400000>;

	camera@3c {
		compatible = "onnn,ap1302";
		reg = <0x3c>;

		status = "disabled";

		pinctrl-names = "default";
		pinctrl-0 = <&cam1_pins_default>;

		clocks = <&topckgen CLK_TOP_MUX_CAMTG2>;

		reset-gpios = <&pio 102 GPIO_ACTIVE_LOW>;
		standby-gpios = <&pio 40 GPIO_ACTIVE_HIGH>;

		port {
			isp1_out: endpoint {
				remote-endpoint = <&seninf_in1>;
				data-lanes = <1 2 3 4>;
			};
		};

		sensors {
			#address-cells = <1>;
			#size-cells = <0>;

			onnn,model = "onnn,ar0144";

			sensor@0 {
				reg = <0>;

				vdd-supply = <&mt6358_vcamd_reg>;
				vaa-supply = <&mt6358_vcama1_reg>;
				vddio-supply = <&reg_1p8v_ext>;
			};
		};
	};
};

&i2c4 {
	clock-frequency = <400000>;

	camera@3c {
		compatible = "onnn,ap1302";
		reg = <0x3c>;

		pinctrl-names = "default";
		pinctrl-0 = <&cam2_pins_default>;

		clocks = <&topckgen CLK_TOP_MUX_CAMTG3>;

		reset-gpios = <&pio 109 GPIO_ACTIVE_LOW>;
		standby-gpios = <&pio 39 GPIO_ACTIVE_HIGH>;

		port {
			isp2_out: endpoint {
				remote-endpoint = <&seninf_in2>;
				data-lanes = <1 2 3 4>;
			};
		};

		sensors {
			#address-cells = <1>;
			#size-cells = <0>;

			onnn,model = "onnn,ar0330";

			sensor@0 {
				reg = <0>;

				vdd-supply = <&reg_1p8v_ext>;
				vddpll-supply = <&mt6358_vldo28_reg>;
				vaa-supply = <&mt6358_vcama1_reg>;
				vddio-supply = <&mt6358_vcamio_reg>;
			};
		};
	};
};

&seninf {
	status = "okay";

	ports {
		port@1 {
			seninf_in1: endpoint {
				clock-lanes = <2>;
				data-lanes = <1 3 0 4>;
				remote-endpoint = <&isp1_out>;
			};
		};

		port@2 {
			seninf_in2: endpoint {
				clock-lanes = <2>;
				data-lanes = <1 3 0 4>;
				remote-endpoint = <&isp2_out>;
			};
		};
	};
};

&camsv0 {
	status = "okay";
};
