/dts-v1/;
/plugin/;

#include <dt-bindings/clock/mt8167-clk.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>

#include "mt8516-pinfunc.h"
#include "mt8167-pinfunc.h"

&reserved_memory {
	ramoops@0x4FF00000 {
		compatible = "ramoops";
		reg = <0x0 0x4FF00000 0x0 0x00100000>;
		record-size = <0x8000>;
		console-size = <0x8000>;
		ftrace-size = <0x0>;
		pmsg-size = <0x8000>;
	};
};

&firmware {
	android {
		compatible = "android,firmware";
		hardware = "pumpkin";
		vbmeta {
			compatible = "android,vbmeta";
			parts = "vbmeta,boot,system,vendor,dtbo";
			by_name_prefix = "/dev/block/platform/soc/11120000.mmc/by-name/";
		};
		fstab {
			compatible = "android,fstab";
			vendor {
				compatible = "android,vendor";
				dev = "/dev/block/platform/soc/11120000.mmc/by-name/vendor";
				type = "ext4";
				mnt_flags = "ro,barrier=1,inode_readahead_blks=8";
				fsmgr_flags = "wait,avb";
			};
			system {
				compatible = "android,system";
				dev = "/dev/block/platform/soc/11120000.mmc/by-name/system";
				type = "ext4";
				mnt_flags = "ro,barrier=1,inode_readahead_blks=8";
				fsmgr_flags = "wait,avb";
			};
		};
	};
};


